
html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;

}













.counter-header{
  font-size: 1.5rem;
  font-weight:500;
  margin: auto;
  margin-top:20px;
}
.quran-counter{
  font-size: 5rem;
  margin:auto;

}
.reflection{
  font-size: 1rem;
  max-width: 450px;
  margin:auto;
  color:white;
  background-color: rgba(236, 243, 235, 0.2);
}

/* dhikr card */




/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
 
  border:solid 1px rgb(184, 77, 77);
 
}

.card {
  width: 250px;
  height: 300px;
  border: 1px solid #cc0909;
  border-radius: 8px;
  
  margin: 10px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.card-image {
  max-width: 60%;
  max-height:60%;
  object-fit: cover;
  border-radius: 8px;
  margin:auto;
  border:1px solid yellow
}

.card-content {
  text-align: center;
  
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.card-description {
  margin-bottom: 16px;
  color: white;
  font-size: 14px;
} */
