.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(15, 99, 7);
  max-height: 10px;
}

.logo {
  font-weight: bold;
  color:white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.counter-section{
  height: 550px;
  border:solid red;
  background-image: url(/public/images/fahrul-azmi-5K549TS6F08-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.counter-header{
  font-size: 1.5rem;
  font-weight:500;
  margin: auto;
  margin-top:20px;
}
.quran-counter{
  font-size: 5rem;
  margin:auto;

}
.reflection{
  font-size: 1rem;
  max-width: 450px;
  margin:auto;
  color:white;
  background-color: rgba(236, 243, 235, 0.2);
}

/* dhikr card */
.card-container{
  display: flex;
 justify-content: center;
 margin-top: 50px;

}

.card {
 
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  
  margin:0px 10px ;
  max-width: 300px;
  
}

.card-image {
  max-width: 100%;
  max-height:100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-content {
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color:white;
}

.card-description {
  margin-bottom: 16px;
  color:white
}

